
h1 {
    text-align: center;
}

#searchBox {
    align-items: center;
    display: flex;
    flex-direction: column;
}

body {
    background-image: url("dragnet.jpeg");
    background-size: 100vw;
    background-repeat: no-repeat;
    max-height: 100vh;
    background-color: dimgray;
}

.body_2 {
    background-image: url("komodo_dragon.jpeg");
    background-size: 100vw;
    background-repeat: no-repeat;
    max-height: 100vh;
    background-color: dimgray;
}

#searchResults, #time {
    display: hidden;
}
